* {
    font-family: 'Courier New', Courier, monospace;
    background-color:bisque;
}

.menu{
    text-align: center;
}

.Class-container{
    width: 100%;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}